*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #27282c;
    flex-direction: column;
    gap: 60px;
}
.classH1{
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 0.25em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
}
.classH1::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
.classH1 p{
    position: relative;
    z-index: 1;
}
.classA{
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}
body > .classA:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
body > .classA::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
body > .classA span{
    position: relative;
    z-index: 1;
}
body > .classA i {
    position: absolute;
    inset: 0;
    display: block;
}
body > .classA i::before{
    content: '';
    position: absolute;
    left: 80%;
    top: -3.5px;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background:  #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}
body > .classA:hover i::before{
    width: 20px;
    left: 20%;
}
body > .classA i::after{
    content: '';
    position: absolute;
    left: 20%;
    bottom: -3.5px;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background:  #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}
body > .classA:hover i::after{
    width: 20px;
    left: 80%;
}



#gameOver{
    margin-bottom: 100px;
    font-size: 8em;
}

h3{
    position: absolute;
    margin-top: 700px;
    margin-left: 950px;
}
h3 a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 0.9em;
    letter-spacing: 0.25em;    
}

